@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?69425422");
  src: url("../font/fontello.eot?69425422#iefix") format('embedded-opentype'), url("../font/fontello.woff?69425422") format('woff'), url("../font/fontello.ttf?69425422") format('truetype'), url("../font/fontello.svg?69425422#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin:0 8px 0 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 24px;
}

.sz-xs:before{font-size: 14px;line-height: 14px;vertical-align: 0px;margin:0 5px 0 0}
.sz-s:before{font-size: 18px;line-height: 18px;vertical-align: -2px;margin:0 6px 0 0}
.sz-m:before{font-size: 22px;line-height: 22px;vertical-align: -4px;margin:0 6px 0 0;}
.sz-l:before{font-size: 32px;line-height: 32px;vertical-align: -7px;margin:0 9px 0 0;}
.sz-xl:before{font-size: 42px;line-height: 42px;vertical-align: -10px;margin:0 10px 0 0;}
.sz-xxl:before{font-size: 52px;line-height: 52px;vertical-align: -14px;margin:0 11px 0 0;}

.ibtn.sz-m:before{margin-left:-6px;margin-right:9px;vertical-align:-1px}
.ibtn.sz-s:before{ margin-left: -5px;margin-right: 8px;vertical-align: -2px;}
.ibtn.sz-xs:before{margin: 0 7px 0 -4px;}

.menuicon:before {line-height:1.65;float:left;margin:0 5px;color:#666}

ul.the-icons {list-style:none;}
ul.the-icons li {position:relative;}
ul.the-icons .i-name , ul.the-icons .i-code {color: #666666;vertical-align: 5px;}
ul.the-icons .i-code {display:none;}

.icon-plus-1:before { content: '\e811'; } /* '' */
.icon-minus-1:before { content: '\e813'; } /* '' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-left-1:before { content: '\e853'; } /* '' */
.icon-up-1:before { content: '\e855'; } /* '' */
.icon-right-1:before { content: '\e854'; } /* '' */
.icon-down-1:before { content: '\e852'; } /* '' */
.icon-infinity:before { content: '\221e'; } /* '∞' */
.icon-plus-squared:before { content: '\229e'; } /* '⊞' */
.icon-minus-squared:before { content: '\229f'; } /* '⊟' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-home-1:before { content: '\e817'; } /* '' */
.icon-home-2:before { content: '\e88e'; } /* '' */
.icon-keyboard:before { content: '\2328'; } /* '⌨' */
.icon-erase:before { content: '\232b'; } /* '⌫' */
.icon-clock-5:before { content: '\23f2'; } /* '⏲' */
.icon-hourglass:before { content: '\23f3'; } /* '⏳' */
.icon-up-dir-1:before { content: '\e84b'; } /* '' */
.icon-play-1:before { content: '\e85a'; } /* '' */
.icon-right-dir-1:before { content: '\e84d'; } /* '' */
.icon-down-dir-1:before { content: '\e84a'; } /* '' */
.icon-left-dir-1:before { content: '\e84c'; } /* '' */
.icon-adjust:before { content: '\25d1'; } /* '◑' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-cloud-1:before { content: '\e867'; } /* '' */
.icon-umbrella:before { content: '\2602'; } /* '☂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-1:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-star-empty-1:before { content: '\e806'; } /* '' */
.icon-check-1:before { content: '\2611'; } /* '☑' */
.icon-cup:before { content: '\2615'; } /* '☕' */
.icon-left-hand:before { content: '\261c'; } /* '☜' */
.icon-up-hand:before { content: '\261d'; } /* '☝' */
.icon-right-hand:before { content: '\261e'; } /* '☞' */
.icon-down-hand:before { content: '\261f'; } /* '☟' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-th-list:before { content: '\e80d'; } /* '' */
.icon-moon:before { content: '\263d'; } /* '☽' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart-empty-1:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-heart-1:before { content: '\e803'; } /* '' */
.icon-heart-3:before { content: '\e8da'; } /* '' */
.icon-note:before { content: '\266a'; } /* '♪' */
.icon-note-beamed:before { content: '\266b'; } /* '♫' */
.icon-music-1:before { content: '\e800'; } /* '' */
.icon-layout:before { content: '\268f'; } /* '⚏' */
.icon-th:before { content: '\e80c'; } /* '' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-flag-1:before { content: '\e81f'; } /* '' */
.icon-flag-2:before { content: '\e8ef'; } /* '' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-cog-1:before { content: '\e836'; } /* '' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-attention-1:before { content: '\e82c'; } /* '' */
.icon-flash:before { content: '\26a1'; } /* '⚡' */
.icon-flash-1:before { content: '\e868'; } /* '' */
.icon-cloud-thunder:before { content: '\26c8'; } /* '⛈' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-scissors:before { content: '\2702'; } /* '✂' */
.icon-tape:before { content: '\2707'; } /* '✇' */
.icon-flight:before { content: '\2708'; } /* '✈' */
.icon-flight-1:before { content: '\e869'; } /* '' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-mail-2:before { content: '\e87c'; } /* '' */
.icon-mail-3:before { content: '\e8d9'; } /* '' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-edit-2:before { content: '\e935'; } /* '' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-pencil-1:before { content: '\e826'; } /* '' */
.icon-pencil-alt:before { content: '\2710'; } /* '✐' */
.icon-feather:before { content: '\2712'; } /* '✒' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-ok-1:before { content: '\e884'; } /* '' */
.icon-ok-circle-1:before { content: '\e885'; } /* '' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-1:before { content: '\e80f'; } /* '' */
.icon-cancel-circle:before { content: '\e810'; } /* '' */
.icon-asterisk:before { content: '\2731'; } /* '✱' */
.icon-cancel-squared:before { content: '\274e'; } /* '❎' */
.icon-help:before { content: '\2753'; } /* '❓' */
.icon-attention-circle:before { content: '\2757'; } /* '❗' */
.icon-quote-left-1:before { content: '\275d'; } /* '❝' */
.icon-quote-right-1:before { content: '\e89a'; } /* '' */
.icon-plus-circle:before { content: '\e812'; } /* '' */
.icon-minus-circled:before { content: '\2796'; } /* '➖' */
.icon-minus-circle:before { content: '\e814'; } /* '' */
.icon-forward:before { content: '\27a6'; } /* '➦' */
.icon-forward-1:before { content: '\e824'; } /* '' */
.icon-ccw-1:before { content: '\e857'; } /* '' */
.icon-cw-1:before { content: '\e856'; } /* '' */
.icon-list-add:before { content: '\e003'; } /* '' */
.icon-list:before { content: '\e005'; } /* '' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-star-half:before { content: '\e701'; } /* '' */
.icon-ok-circle2:before { content: '\e702'; } /* '' */
.icon-cancel-circle2:before { content: '\e703'; } /* '' */
.icon-help-circled:before { content: '\e704'; } /* '' */
.icon-info-circled:before { content: '\e705'; } /* '' */
.icon-th-large:before { content: '\e708'; } /* '' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-eye-1:before { content: '\e81c'; } /* '' */
.icon-eye-3:before { content: '\e8ec'; } /* '' */
.icon-eye-off:before { content: '\e70b'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tag-1:before { content: '\e81d'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-camera-alt:before { content: '\e70f'; } /* '' */
.icon-download-cloud-1:before { content: '\e710'; } /* '' */
.icon-upload-cloud:before { content: '\e711'; } /* '' */
.icon-upload-cloud-2:before { content: '\e899'; } /* '' */
.icon-reply:before { content: '\e712'; } /* '' */
.icon-reply-all:before { content: '\e713'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-export-1:before { content: '\e825'; } /* '' */
.icon-print:before { content: '\e716'; } /* '' */
.icon-print-1:before { content: '\e827'; } /* '' */
.icon-retweet:before { content: '\e717'; } /* '' */
.icon-retweet-1:before { content: '\e828'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-comment-1:before { content: '\e829'; } /* '' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-chat-1:before { content: '\e82a'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-location-1:before { content: '\e82d'; } /* '' */
.icon-map:before { content: '\e727'; } /* '' */
.icon-compass:before { content: '\e728'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-trash-1:before { content: '\e82e'; } /* '' */
.icon-doc-text-inv:before { content: '\e731'; } /* '' */
.icon-docs:before { content: '\e736'; } /* '' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-basket-1:before { content: '\e837'; } /* '' */
.icon-shareable:before { content: '\e73e'; } /* '' */
.icon-login:before { content: '\e740'; } /* '' */
.icon-login-1:before { content: '\e83b'; } /* '' */
.icon-logout:before { content: '\e741'; } /* '' */
.icon-logout-1:before { content: '\e83c'; } /* '' */
.icon-volume:before { content: '\e742'; } /* '' */
.icon-resize-full:before { content: '\e744'; } /* '' */
.icon-resize-full-1:before { content: '\e845'; } /* '' */
.icon-resize-small:before { content: '\e746'; } /* '' */
.icon-resize-small-1:before { content: '\e846'; } /* '' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-publish:before { content: '\e74d'; } /* '' */
.icon-window:before { content: '\e74e'; } /* '' */
.icon-zoom-in:before { content: '\e750'; } /* '' */
.icon-chart-pie:before { content: '\e751'; } /* '' */
.icon-zoom-out:before { content: '\e847'; } /* '' */
.icon-language:before { content: '\e752'; } /* '' */
.icon-air:before { content: '\e753'; } /* '' */
.icon-database:before { content: '\e754'; } /* '' */
.icon-drive:before { content: '\e755'; } /* '' */
.icon-bucket:before { content: '\e756'; } /* '' */
.icon-thermometer:before { content: '\e757'; } /* '' */
.icon-down-circled:before { content: '\e758'; } /* '' */
.icon-left-circled:before { content: '\e759'; } /* '' */
.icon-right-circled:before { content: '\e75a'; } /* '' */
.icon-up-circled:before { content: '\e75b'; } /* '' */
.icon-down-open-1:before { content: '\e84e'; } /* '' */
.icon-left-open-1:before { content: '\e84f'; } /* '&#xe84f' */
.icon-right-open-1:before { content: '\e850'; } /* '&#xe850' */
.icon-up-open-1:before { content: '\e851'; } /* '' */
.icon-arrows-cw:before { content: '\e858'; } /* '' */
.icon-play-circle2:before { content: '\e85b'; } /* '' */
.icon-progress-1:before { content: '\e769'; } /* '' */
.icon-progress-2:before { content: '\e76a'; } /* '' */
.icon-progress-3:before { content: '\e76b'; } /* '' */
.icon-back-in-time:before { content: '\e771'; } /* '' */
.icon-network:before { content: '\e776'; } /* '' */
.icon-inbox:before { content: '\e777'; } /* '' */
.icon-inbox-1:before { content: '\e865'; } /* '' */
.icon-install:before { content: '\e778'; } /* '' */
.icon-lifebuoy:before { content: '\e788'; } /* '' */
.icon-mouse:before { content: '\e789'; } /* '' */
.icon-dot:before { content: '\e78b'; } /* '' */
.icon-dot-2:before { content: '\e78c'; } /* '' */
.icon-dot-3:before { content: '\e78d'; } /* '' */
.icon-suitcase:before { content: '\e78e'; } /* '' */
.icon-off:before { content: '\e86c'; } /* '' */
.icon-road:before { content: '\e78f'; } /* '' */
.icon-flow-cascade:before { content: '\e790'; } /* '' */
.icon-list-alt:before { content: '\e86d'; } /* '' */
.icon-flow-branch:before { content: '\e791'; } /* '' */
.icon-qrcode:before { content: '\e86e'; } /* '' */
.icon-flow-tree:before { content: '\e792'; } /* '' */
.icon-barcode:before { content: '\e86f'; } /* '' */
.icon-flow-line:before { content: '\e793'; } /* '' */
.icon-ajust:before { content: '\e871'; } /* '' */
.icon-flow-parallel:before { content: '\e794'; } /* '' */
.icon-tint:before { content: '\e872'; } /* '' */
.icon-brush:before { content: '\e79a'; } /* '' */
.icon-paper-plane:before { content: '\e79b'; } /* '' */
.icon-magnet:before { content: '\e7a1'; } /* '' */
.icon-magnet-1:before { content: '\e873'; } /* '' */
.icon-gauge:before { content: '\e7a2'; } /* '' */
.icon-chart-pie-2:before { content: '\e926'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-cc:before { content: '\e7a5'; } /* '' */
.icon-cc-by:before { content: '\e7a6'; } /* '' */
.icon-cc-nc:before { content: '\e7a7'; } /* '' */
.icon-cc-nc-eu:before { content: '\e7a8'; } /* '' */
.icon-cc-nc-jp:before { content: '\e7a9'; } /* '' */
.icon-cc-sa:before { content: '\e7aa'; } /* '' */
.icon-cc-nd:before { content: '\e7ab'; } /* '' */
.icon-cc-pd:before { content: '\e7ac'; } /* '' */
.icon-cc-zero:before { content: '\e7ad'; } /* '' */
.icon-cc-share:before { content: '\e7ae'; } /* '' */
.icon-cc-remix:before { content: '\e7af'; } /* '' */
.icon-paper-plane-alt2:before { content: '\f01e'; } /* '' */
.icon-chat-5:before { content: '\f03d'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-trophy-1:before { content: '\f074'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-rss-1:before { content: '\f09e'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-left-circled-1:before { content: '\f0a8'; } /* '' */
.icon-right-circled-1:before { content: '\f0a9'; } /* '' */
.icon-up-circled-1:before { content: '\f0aa'; } /* '' */
.icon-down-circled-1:before { content: '\f0ab'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-docs-1:before { content: '\f0c5'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge-1:before { content: '\f0e4'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud-1:before { content: '\f0ee'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-suitcase-1:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-alt:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-plus-squared-1:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile-1:before { content: '\f10b'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-reply-1:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-flickr-circled:before { content: '\f304'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f80e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.icon-lastfm:before { content: '\f321'; } /* '' */
.icon-lastfm-circled:before { content: '\f322'; } /* '' */
.icon-rdio:before { content: '\f324'; } /* '' */
.icon-rdio-circled:before { content: '\f325'; } /* '' */
.icon-spotify:before { content: '\f327'; } /* '' */
.icon-spotify-circled:before { content: '\f328'; } /* '' */
.icon-qq:before { content: '\f32a'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-flattr:before { content: '\f336'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-renren:before { content: '\f33c'; } /* '' */
.icon-sina-weibo:before { content: '\f33f'; } /* '' */
.icon-paypal:before { content: '\f842'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */
.icon-soundcloud:before { content: '\f348'; } /* '' */
.icon-mixi:before { content: '\f34b'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */
.icon-smashing:before { content: '\f357'; } /* '' */
.icon-db-shape:before { content: '\f600'; } /* '' */
.icon-sweden:before { content: '\f601'; } /* '' */
.icon-logo-db:before { content: '\f603'; } /* '' */
.icon-globe-2:before { content: '\d30d'; } /* '팍' */
.icon-picture:before { content: '\f904'; } /* '滑' */
.icon-picture-1:before { content: '\e80a'; } /* '' */
.icon-globe:before { content: '\f32e'; } /* '' */
.icon-globe-1:before { content: '\e866'; } /* '' */
.icon-globe-alt:before { content: '\f311'; } /* '' */
.icon-leaf:before { content: '\f343'; } /* '' */
.icon-leaf-1:before { content: '\e86a'; } /* '' */
.icon-glass:before { content: '\f379'; } /* '' */
.icon-gift:before { content: '\f581'; } /* '' */
.icon-graduation-cap:before { content: '\f893'; } /* '' */
.icon-mic:before { content: '\f7a4'; } /* '' */
.icon-mic-2:before { content: '\e903'; } /* '' */
.icon-videocam:before { content: '\f8a5'; } /* '' */
.icon-headphones:before { content: '\f3af'; } /* '' */
.icon-palette:before { content: '\f8a8'; } /* '' */
.icon-ticket:before { content: '\f8ab'; } /* '' */
.icon-video:before { content: '\f8ac'; } /* '' */
.icon-video-1:before { content: '\e809'; } /* '' */
.icon-video-2:before { content: '\e881'; } /* '' */
.icon-target:before { content: '\f3ff'; } /* '' */
.icon-target-1:before { content: '\e863'; } /* '' */
.icon-music:before { content: '\f8b5'; } /* '' */
.icon-trophy:before { content: '\f3cc'; } /* '' */
.icon-award:before { content: '\f8c9'; } /* '' */
.icon-thumbs-up:before { content: '\f74d'; } /* '' */
.icon-thumbs-up-1:before { content: '\e820'; } /* '' */
.icon-thumbs-down:before { content: '\f74e'; } /* '' */
.icon-thumbs-down-1:before { content: '\e821'; } /* '' */
.icon-bag:before { content: '\f75c'; } /* '' */
.icon-user:before { content: '\f864'; } /* '' */
.icon-user-1:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\f865'; } /* '' */
.icon-users-1:before { content: '\e808'; } /* '' */
.icon-users-2:before { content: '\e8dd'; } /* '' */
.icon-lamp:before { content: '\f8a1'; } /* '' */
.icon-alert:before { content: '\f7a5'; } /* '' */
.icon-water:before { content: '\f8a6'; } /* '' */
.icon-droplet:before { content: '\f8a7'; } /* '' */
.icon-credit-card:before { content: '\f8b3'; } /* '' */
.icon-credit-card-1:before { content: '\e875'; } /* '' */
.icon-monitor:before { content: '\f4fc'; } /* '' */
.icon-briefcase:before { content: '\f8bc'; } /* '' */
.icon-briefcase-1:before { content: '\e86b'; } /* '' */
.icon-floppy:before { content: '\f8be'; } /* '' */
.icon-floppy-1:before { content: '\e876'; } /* '' */
.icon-cd:before { content: '\f5bf'; } /* '' */
.icon-folder:before { content: '\f7c1'; } /* '' */
.icon-folder-1:before { content: '\e833'; } /* '' */
.icon-folder-open:before { content: '\f4c9'; } /* '' */
.icon-doc-text:before { content: '\f7c4'; } /* '' */
.icon-doc-1:before { content: '\e82f'; } /* '' */
.icon-calendar:before { content: '\f7c5'; } /* '' */
.icon-calendar-1:before { content: '\e83a'; } /* '' */
.icon-chart-line:before { content: '\f8c8'; } /* '' */
.icon-chart:before { content: '\e924'; } /* '' */
.icon-chart-bar:before { content: '\f8ca'; } /* '' */
.icon-chart-bar-1:before { content: '\e874'; } /* '' */
.icon-chart-bar-3:before { content: '\e925'; } /* '' */
.icon-clipboard:before { content: '\f8cb'; } /* '' */
.icon-pin:before { content: '\f4cc'; } /* '' */
.icon-attach:before { content: '\f7ce'; } /* '' */
.icon-attach-1:before { content: '\e819'; } /* '' */
.icon-attach-2:before { content: '\e890'; } /* '' */
.icon-bookmarks:before { content: '\f7d1'; } /* '' */
.icon-book:before { content: '\f7d5'; } /* '' */
.icon-book-1:before { content: '\e870'; } /* '' */
.icon-book-open:before { content: '\f7d6'; } /* '' */
.icon-phone:before { content: '\f7de'; } /* '' */
.icon-phone-1:before { content: '\e835'; } /* '' */
.icon-megaphone:before { content: '\f8e3'; } /* '' */
.icon-megaphone-1:before { content: '\e877'; } /* '' */
.icon-upload:before { content: '\f7e4'; } /* '' */
.icon-upload-1:before { content: '\e823'; } /* '' */
.icon-download:before { content: '\f7e5'; } /* '' */
.icon-download-1:before { content: '\e822'; } /* '' */
.icon-box:before { content: '\f7e6'; } /* '' */
.icon-newspaper:before { content: '\f7f0'; } /* '' */
.icon-mobile:before { content: '\f5f1'; } /* '' */
.icon-mobile-3:before { content: '\e920'; } /* '' */
.icon-signal:before { content: '\f4ff'; } /* '' */
.icon-signal-1:before { content: '\e864'; } /* '' */
.icon-camera:before { content: '\f9f7'; } /* '立' */
.icon-camera-1:before { content: '\e80b'; } /* '' */
.icon-camera-2:before { content: '\e883'; } /* '' */
.icon-shuffle-1:before { content: '\e859'; } /* '' */
.icon-light-down:before { content: '\f805'; } /* '' */
.icon-light-up:before { content: '\f806'; } /* '' */
.icon-mute:before { content: '\f707'; } /* '' */
.icon-volume-off:before { content: '\e83d'; } /* '' */
.icon-volume-down:before { content: '\f510'; } /* '' */
.icon-sound:before { content: '\f70a'; } /* '' */
.icon-volume-up:before { content: '\e83e'; } /* '' */
.icon-battery:before { content: '\f5fb'; } /* '' */
.icon-search:before { content: '\f80d'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\f811'; } /* '' */
.icon-key-1:before { content: '\e878'; } /* '' */
.icon-lock:before { content: '\f712'; } /* '' */
.icon-lock-1:before { content: '\e81a'; } /* '' */
.icon-lock-open:before { content: '\f713'; } /* '' */
.icon-lock-open-1:before { content: '\e81b'; } /* '' */
.icon-bell:before { content: '\f714'; } /* '' */
.icon-bell-1:before { content: '\e82b'; } /* '' */
.icon-bookmark:before { content: '\f716'; } /* '' */
.icon-bookmark-1:before { content: '\e81e'; } /* '' */
.icon-link:before { content: '\f917'; } /* '珞' */
.icon-link-1:before { content: '\e818'; } /* '' */
.icon-fire:before { content: '\f825'; } /* '' */
.icon-flashlight:before { content: '\f826'; } /* '' */
.icon-wrench:before { content: '\f827'; } /* '' */
.icon-hammer:before { content: '\f828'; } /* '' */
.icon-chart-area:before { content: '\f83e'; } /* '' */
.icon-clock:before { content: '\f854'; } /* '' */
.icon-clock-1:before { content: '\e83f'; } /* '' */
.icon-rocket:before { content: '\f980'; } /* '呂' */
.icon-truck:before { content: '\f89a'; } /* '' */
.icon-block-1:before { content: '\e844'; } /* '' */