/* Slicebox Style */


.sb-slider {
	margin: 25px auto 55px;
	position: relative;
	overflow: hidden;
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.sb-slider li {
	margin: 0;
	padding: 0;
	display: none;
}

.sb-slider li > a {
	outline: none;
}

.sb-slider li > a img {
	border: none;
}

.sb-slider img {
	max-width: 100%;
	display: block;
	border-radius:5px;
	-webkit-transition:al 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

.sb-slider li .sb-description {
	padding: 12px 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	position: absolute;
	line-height:18px;
	background: #000;
	background: rgba(0,0,0, 0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);	
	opacity: 0;
	color: #eee;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-radius:5px;
	
	-webkit-transition:al 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
}


.sb-description h4{
	color:#fff !important;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	}

.sb-description a{
	color:#eee;
	}

.sb-description a:hover{
	color:#fff;
	}
	
.sb-slider li.sb-current .sb-description {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);	
	opacity: 1;
	
	

}

.sb-slider li.sb-current .sb-description:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);	
	background: rgba(0,0,0, 0.7);
}

.sb-perspective {
	position: relative;
}

.sb-perspective > div {
	position: absolute;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility : hidden;
	-moz-backface-visibility : hidden;
	-o-backface-visibility : hidden;
	-ms-backface-visibility : hidden;
	backface-visibility : hidden;
}

.sb-side {
	margin: 0;
	display: block;
	position: absolute;

	-moz-backface-visibility : hidden;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}


.nav-arrows a {
	position:absolute;
	top:45%;
	z-index:9;
	right:30px;
	width:25px;
	height:25px;
	cursor:pointer;
	font-family:fontello;	
	background:#CC0000;
	color:#FFF;
	border-radius:4px;
	text-align:center;
	font-size:14px;
	line-height:24px;
	opacity:.5;

}

.nav-arrows{display:none}
.slice-slider:hover .nav-arrows{display:block}


.nav-arrows a:hover {
	opacity:1;
	}
	
.nav-arrows a#slice-prv {
	left:30px;
	right:auto;
	}

.nav-arrows #slice-prv:before {
	content: "\e84f";
}
.nav-arrows #slice-nxt:before{
	content: "\e850";
}
