            <!-- FOOTER -->
         <footer class="band footer" >

         </footer>

         <footer class="band bottom" >
            
            <div class="container">
              
                <div class="sixteen columns">


                        <div class="seven columns alpha">
                            <div class="copyright">
                              
                © 2010 CC-INT. All rights reserved.

                            </div>
                        </div>

                        <div class="two columns">
                            <div class="gototop"><a href="#top" class="tooltips top" title="Go to Top">&#xe851;</a></div>
                        </div>
      
                        <div class="seven columns omega">
                                                        
                            
                        </div>
     
                     
                </div>
                
            </div><!-- container -->
            
         </footer><!-- end footer-->   
