            <!-- FOOTER -->
         <footer class="band footer" >

         </footer>

         <footer class="band bottom" >
            
            <div class="container">
              
                <div class="sixteen columns">


                        <div class="seven columns alpha">
                            <div class="copyright">
                              
                © 2010 CC-INT. All rights reserved.

                            </div>
                        </div>

                        <div class="two columns">
                            <div class="gototop"><a href="#top" class="tooltips top" title="Go to Top">&#xe851;</a></div>
                        </div>
      
                        <div class="seven columns omega">
                                                        
                            
                        </div>
     
                     
                </div>
                
            </div><!-- container -->
            
         </footer><!-- end footer-->   

                      <script type="text/javascript">
                adroll_adv_id = "YXNB6G2JUFG7VDXXXNWIRD";
                adroll_pix_id = "IZX3J2CSRRADZF4BDNELV7";
                (function () {
                var oldonload = window.onload;
                window.onload = function(){
                   __adroll_loaded=true;
                   var scr = document.createElement("script");
                   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                   scr.setAttribute('async', 'true');
                   scr.type = "text/javascript";
                   scr.src = host + "/j/roundtrip.js";
                   ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                   if(oldonload){oldonload()}};
                }());
                </script>


