        <div class="band top_border" > </div>


        <!-- Top Band - If you dont want to use Sticky menu please remove sticky class below -->
        <div class="band main sticky" >
            
            <!-- HEADER -->
            <div class="container header">
            	
                
                
                <div class="three columns">
                    <h1 class="logo" ><a href=""><img src="photos/logo.png" alt="Interio" /></a></h1>
                </div>
            
            
            
            	<div class="thirteen columns navbar" >
  
 
                
                 <!-- Search Button -->

					<div class="top_search">
	
                        <form id="customsearch" action="#" method="get" role="search">
                         
                            <div class="search_field">
                                <input type="text"  class="search_text"
                                       value=""
                                       onfocus="this.value='';"
                                       onblur="this.value='';"
                                       name="s" id="s" >
                            </div>
                            
                        </form>
        
					</div>
                
                <!-- end Search Button -->
                
                
                
                
                <!-- Navigation Menu -->
                <nav class="main">
                    <ul id="menu-main-menu" class="sf-menu">
                        <li><a href="about.html">About</a></li>
                    	<li><a href="services.html">Services</a>
                            <ul class="sub-menu">
                                <li><a href="services.html#litigation">Litigation</a></li>
                                <li><a href="services.html#due-diligence">Due Diligence</a></li>
                                <li><a href="services.html#competitive-intelligence">Competitive Intelligence</a></li>
                                <li><a href="services.html#cyber-intelligence">Cyber Intelligence</a></li>
                            </ul>
                        </li>
                        <li><a href="sectors.html">Sectors</a>
                            <ul class="sub-menu">
                                <li><a href="sectors.html#banking">Banking &amp; Finance</a></li>
                                <li><a href="sectors.html#insurance">Insurance</a></li>
                                <li><a href="sectors.html#energy">Energy</a></li>
                                <li><a href="sectors.html#law-firms">Law Firms</a></li>
                                <li><a href="sectors.html#multinational-corporations">Multinational Corporations</a></li>
                                <li><a href="sectors.html#property-investors">Property Investors</a></li>
                            </ul>
                        </li>
                    <li><a href="case-studies.html">Case Studies</a></li>
                    <li><a href="knowledge-hub.html">Knowledge Hub</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav> 
                <!-- End Navigation Menu -->
                
                
                
               
       		</div><!--end thirteen --> 
       
       
            </div><!--end container -->   
            <!-- End HEADER -->   
    
        
        
        </div><!-- End of Main Band-->
