        <div class="band top_border" > </div>


        <!-- Top Band - If you dont want to use Sticky menu please remove sticky class below -->
        <div class="band main sticky" >
            
            <!-- HEADER -->
            <div class="container header">
            	
                
                
                <div class="three columns">
                    <h1 class="logo" ><a href=""><img src="photos/logo.png" alt="Interio" /></a></h1>
                </div>
            
            
            
            	<div class="thirteen columns navbar" >
  
 
                
                 <!-- Search Button -->

					<div class="top_search">
	
                        <form id="customsearch" action="#" method="get" role="search">
                         
                            <div class="search_field">
                                <input type="text"  class="search_text"
                                       value=""
                                       onfocus="this.value='';"
                                       onblur="this.value='';"
                                       name="s" id="s" >
                            </div>
                            
                        </form>
        
					</div>
                
                <!-- end Search Button -->
                
                
                
                
                <!-- Navigation Menu -->
                <nav class="main">
                    <ul id="menu-main-menu" class="sf-menu">
                    	<li class="current-menu-parent"><a href="home1-flexslider.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="home2-nivoslider.html">Home 2 + Nivo Slider</a></li>
                        <li><a href="home3-roundabout.html">Home 3 + Round About</a></li>
                        <li><a href="home4-image-title.html">Home 4 + Image Title</a></li>
                        <li><a href="home5-no-title.html">Home 5 + No Title</a></li>
                    </ul>
                    </li>
                    <li><a href="#">Sliders</a>
                        <ul class="sub-menu">
                        	<li><a href="home1-flexslider.html">FlexSlider</a></li>
                            <li><a href="home2-nivoslider.html">Nivo Slider</a></li>
                            <li><a href="home3-roundabout.html">Round About Slider</a></li>
                            <li>
                            <a href="#">Lite Accordion Slider</a>
                            	<ul>
                                	<li><a href="lite-accordion-slider.html">Basic</a></li>
                                    <li><a href="lite-accordion-slider-light.html">Light</a></li>
                                    <li><a href="lite-accordion-slider-dark.html">Dark</a></li>
                                    <li><a href="lite-accordion-slider-stitch.html">Stitch</a></li>
                                </ul>
                            </li>
                            <li><a href="parallax-slider.html">Parallax Slider</a></li>
                            <li><a href="kwick-slider.html">Kwick Slider</a></li>
                            <li><a href="3d-slice-slider.html">3D Slice Slider</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Shortcodes</a>
                    <ul class="sub-menu">
                        <li><a href="#">Typography</a>
                        <ul class="sub-menu">
                            <li><a href="shortcodes/columns.html"><span class="icon-sweden sz-xs" ></span>Columns</a></li>
                            <li><a href="shortcodes/dropcap.html"><span class="icon-info-circled sz-xs" ></span>Dropcap</a></li>
                            <li><a href="shortcodes/highlight.html"><span class="icon-pencil sz-xs" ></span>Highlights</a></li>
                            <li><a href="shortcodes/hr-lines-divider.html"><span class="icon-dot-3 sz-xs" ></span>HR Lines (Dividers)</a></li>
                            <li><a href="shortcodes/list-style.html"><span class="icon-list-bullet sz-xs" ></span>List Style</a></li>
                        </ul>
                    </li>
                        <li><a href="#">Elements</a>
                        <ul class="sub-menu">
                            <li><a href="shortcodes/buttons.html"><span class="icon-up-hand sz-xs" ></span>Buttons</a></li>
                            <li><a href="shortcodes/tables.html"><span class="icon-th sz-xs" ></span>Tables</a></li>
                            <li><a href="shortcodes/quotes.html"><span class="icon-quote-left-1 sz-xs" ></span>Quotes</a></li>
                            <li><a href="shortcodes/social-icons.html"><span class="icon-facebook-circled sz-xs"   ></span>Social Icons</a></li>
                            <li><a href="shortcodes/tooltip.html"><span class="icon-comment sz-xs" ></span>Tooltip</a></li>
                        </ul>
                    </li>
                        <li><a href="#">Media</a>
                        <ul class="sub-menu">
                            <li><a href="shortcodes/videos.html"><span class="icon-video sz-xs"  ></span>Videos</a></li>
                            <li><a href="shortcodes/google-fonts.html"><span class="icon-language sz-xs"  ></span>Google Fonts</a></li>
                            <li><a href="shortcodes/google-maps.html"><span class="icon-location-1 sz-xs"    ></span>Google Maps</a></li>
                        </ul>
                    </li>
                        <li><a href="#">Boxes</a>
                        <ul class="sub-menu">
                            <li><a href="shortcodes/ad-box.html"><span class="icon-megaphone sz-xs"  ></span>Ad Box</a></li>
                            <li><a href="shortcodes/featured-box.html"><span class="icon-star sz-xs"  ></span>Featured Box</a></li>
                            <li><a href="shortcodes/message-box.html"><span class="icon-attention-circle sz-xs"  ></span>Message Box</a></li>
                            <li><a href="shortcodes/pricing-tables.html"><span class="icon-money sz-xs"  ></span>Pricing Tables</a></li>
                            <li><a href="shortcodes/testimonial.html"><span class="icon-comment sz-xs"  ></span>Testimonial</a></li>
                        </ul>
                    </li>
                        <li><a href="#">Active Boxes</a>
                        <ul class="sub-menu">
                            <li><a href="shortcodes/accordion.html"><span class="icon-tasks sz-xs"  ></span>Accordion</a></li>
                            <li><a href="shortcodes/clients-carousel.html"><span class="icon-right-open-1 sz-xs"  ></span>Clients Carousel</a></li>
                            <li><a href="shortcodes/portfolio-carousel.html"><span class="icon-briefcase-1 sz-xs"  ></span>Portfolio Carousel</a></li>
                            <li><a href="shortcodes/members-skills.html"><span class="icon-users-2 sz-xs"  ></span>Members &#038; Skills</a></li>
                            <li><a href="shortcodes/tabs.html"><span class="icon-th-list sz-xs" ></span>Tabs</a></li>
                            <li><a href="shortcodes/toggle.html"><span class="icon-down-open-1 sz-xs" ></span>Toggle</a></li>
                        </ul>
                    </li>
                    </ul>
                    </li>
                    <li><a href="">Features</a>
                    <ul class="sub-menu">
                        
                        <li><a href="sidebar-widgets.html">Sidebar Widgets</a></li>
                        <li><a href="#">RTL Languages Support</a></li>
                        <li><a href="over-450-icons.html"><span class="icon-rocket sz-s"  ></span>450+ Icons</a></li>
                        <li><a href="#">3rd Level Menu</a>
                        <ul class="sub-menu">
                            <li><a href="#">Menu Item</a></li>
                            <li><a href="#">4th Level Menu</a>
                            <ul class="sub-menu">
                                <li><a href="#">Menu Item</a></li>
                                <li><a href="#"><span class="icon-thumbs-up sz-xxl"></span>Big Icon</a></li>
                            </ul>
                    </li>
                            <li><a href="#">Menu Item</a></li>
                        </ul>
                    </li>
                        <li><a href="#"><span class="icon-basket-1 sz-s"></span>Buy This Theme</a></li>
                    </ul>
                    </li>
                    <li class="current-menu-parent"><a href="pages.html">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="faq.html"><span class="icon-help-circled sz-xs"  ></span>F.A.Q</a></li>
                        <li><a href="contact-2.html"><span class="icon-phone-squared sz-xs"  ></span>Contact 2</a></li>
                        <li><a href="#"><span class="icon-th sz-xs" ></span>Page Layouts</a>
                        <ul class="sub-menu">
                            <li class="current-menu-item"><a href="full-width.html">Full Width</a></li>
                            <li><a href="page-left-sidebar.html">Page Left Sidebar</a></li>
                            <li><a href="page-right-sidebar.html">Page Right Sidebar</a></li>
                            <li><a href="no-title.html">No Title Page</a></li>
                        </ul>
                    </li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                    </li>
                    <li><a href="#">Portfolio</a>
                    <ul class="sub-menu">
                        <li><a href="portfolio-1-column.html">Portfolio 1 column</a></li>
                        <li><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
                        <li><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
                        <li><a href="portfolio-4-columns.html">Portfolio 4 columns</a></li>
                        <li><a href="portfolio-single.html">Portfolio Single</a></li>
                        <li><a href="portfolio-single-left-sidebar.html">Single Left Sidebar</a></li>
                        <li><a href="portfolio-single-wide.html">Portfolio Single (Wide)</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                    </li>
                    <li><a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
						<li><a href="blog-single.html">Blog Single</a></li>
						<li><a href="blog-single-left-sidebar.html">Blog Single Left Sidebar</a></li>
                    </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav> 
                <!-- End Navigation Menu -->
                
                
                
               
       		</div><!--end thirteen --> 
       
       
            </div><!--end container -->   
            <!-- End HEADER -->   
    
        
        
        </div><!-- End of Main Band-->
