                                <li data-type="interior ">
                                    <div class="portfolio-info" >
                                        <a href="portfolio-single.html" title="Screenr Video" class="portfolio-title">
                                            <h3 class="title">{{ member_name }}</h3>
                                        </a>
                                        <div class="portfolio-types">{{ member_title }}</div>
                                        {{ member_description }}
                                                                    
                                    </div>
                                </li>
