                                <li data-type="interior ">
                                    <div class="portfolio-thumb thumb-p1col">
                                        <a href="#embeded-video" class="prettyPhoto zoom " title="Screenr Video" data-rel="prettyPhoto[portfolio]">
                                        <img width="150" height="150" src="photos/12-150x150.jpg"  alt="" />
                                        <div class="overlay" ><span class="ov-vd"></span></div>
                                        </a>
                                    </div>
                                    <div class="portfolio-info info-p1col" >
                                        <a href="portfolio-single.html" title="Screenr Video" class="portfolio-title">
                                            <h3 class="title">{{ member_name }}</h3>
                                        </a>
                                        <div class="portfolio-types">{{ member_title }}</div>
                                        {{ member_description }}
                                                                    
                                    </div>
                                </li>
