        <li>
                <div class="portfolio-thumb thumb-p4col">
                    <a class="zoom" title="{{ sector_title }}" href="{{ sector_link }}">
                      <img alt="" src="photos/3-300x200.jpg">
                      <div class="overlay"><span class="ov-to"></span></div>
                  </a>
              </div>
              <div class="portfolio-info info-p4col">
                <a class="portfolio-title" title="{{ sector_title }}" href="{{ sector_link }}">
                    <h3 class="title">{{ sector_title }}</h3>
                </a>
                <div class="portfolio-types">
                    Business, Interior Design, Photography
                </div>
            </div>
        </li>
