            <div class="four columns {{ servicebox_extra_class }}">
                <div class="adbox style5 center">
                  <div class="inside clearfix">
                      <div class="icon_wrap"><span class="ibox {{ servicebox_icon }} sz-xl"></span></div>
                      <div class="text_wrap">
                          <h2 class="servicebox_title" style="min-height: 4.3em;">{{ servicebox_title }}</h2>
                          <p>{{ servicebox_text }}</p>
                      </div>
                      <div class="button right small">
                          <a href="{{ servicebox_link }}"><span class="ibtn icon-down-dir-1 sz-xs"></span>Read More</a>
                      </div>
                  </div>
              </div>
          </div>
