---
layout: default
description: CCI AG services about and management
---
<!-- Slogan and Title -->
<div class="band title" >

    <!-- Sub_Header -->
    <div class="container sub_header">
                    <div class="slogan">
                        
                    </div>
                        

                    <div class="right_sub_text">
                        Telephone: <strong>+41 445861872</strong> &nbsp; E-mail: <strong>info@cc-int.eu</strong>
                    </div>
    
    </div><!-- End Sub_Header -->
</div><!-- end band-->     
<!-- End Top Band -->  
<!-- CONTENT -->   
<div class="band content" >
    <div class="container">
        <div class="sixteen columns texts-wrap">
            <!-- ========================================== --> 
            <!-- Start Content ============================ -->
            <!-- ========================================== -->   

            <!-- Gap -->
            <div class="gap gap10 clearfix"></div>
             <h5 style="text-align: justify;">We are a team of international intelligence and cyber experts with many years of experience in sensitive and complex intelligence gathering and analysis. Focusing on  obtaining information where others fail, we combine cyber and human intelligence creating our unique methodology, CyberHumint.</h5>
            <div class="gap gap30 clearfix"></div>

            <div class="alert alert-warning" role="alert">See an example for our activity in our public <a href="http://mtgoxinvestigation.com">Mt. Gox investigation</a>.</div>
            
            <div class="gap gap30 clearfix"></div>
            <!-- 1/3 column - First -->
            {% assign servicebox_extra_class = "alpha" %}
            {% assign servicebox_title = "Organizational Intelligence Audit" %}
            {% assign servicebox_icon = "icon-attention" %}
            {% assign servicebox_text = "" %}
            {% assign servicebox_link = "services.html#audit" %}
            {% include custom/servicebox.html %}

            {% assign servicebox_extra_class = "" %}
            {% assign servicebox_title = "Due Diligence" %}
            {% assign servicebox_icon = "icon-zoom-in" %}
            {% assign servicebox_text = "" %}
            {% assign servicebox_link = "services.html#due-diligence" %}
            {% include custom/servicebox.html %}

            {% assign servicebox_extra_class = "" %}
            {% assign servicebox_title = "Competitive Intelligence" %}
            {% assign servicebox_icon = "icon-chart-line" %}
            {% assign servicebox_text = "" %}
            {% assign servicebox_link = "services.html#competitive-intelligence" %}
            {% include custom/servicebox.html %}

            {% assign servicebox_extra_class = "omega" %}
            {% assign servicebox_title = "Cyber Intelligence" %}
            {% assign servicebox_icon = "icon-signal" %}
            {% assign servicebox_text = "" %}
            {% assign servicebox_link = "services.html#cyber-intelligence" %}
            {% include custom/servicebox.html %}


        <!-- Gap -->
        <div class="gap gap30 clearfix"></div>
        <!-- Portfolio Carousel -->
        <div class="clearfix">
            <div id="portfolio-carousel" class="portfolio-carousel">
                <h3 class="title">Sectors</h3>
                <div class="nxt" id="nxt_portfolio_carousel"> &#xe850;</div>
                <div class="prv" id="prv_portfolio_carousel"> &#xe84f;</div>
                <ul id="portfolio_carousel" class="portfolio pc_carousel p4col">

                    {% assign sector_link = "sectors.html#banking" %}
                    {% assign sector_title = "Banking &amp; Finance" %}
                    {% assign sector_image = "images/Sectors/Finance and banking sector.jpg" %}
                    {% include custom/sectorbox.html %}
                    
                    {% assign sector_link = "sectors.html#insurance" %}
                    {% assign sector_title = "Insurance" %}
                    {% assign sector_image = "images/Sectors/Insurence sector.jpg" %}
                    {% include custom/sectorbox.html %}

                    {% assign sector_link = "sectors.html#energy" %}
                    {% assign sector_title = "Energy" %}
                    {% assign sector_image = "images/Sectors/Energy sector.jpg" %}
                    {% include custom/sectorbox.html %}

                    {% assign sector_link = "sectors.html#law-firms" %}
                    {% assign sector_title = "Law Firms" %}
                    {% assign sector_image = "images/Sectors/Law firm sector.jpg" %}
                    {% include custom/sectorbox.html %}

                    {% assign sector_link = "sectors.html#multinational-corporations" %}
                    {% assign sector_title = "Multinational Corporations" %}
                    {% assign sector_image = "images/Sectors/Multinational corp. sector.jpg" %}
                    {% include custom/sectorbox.html %}

                    {% assign sector_link = "sectors.html#property-investors" %}
                    {% assign sector_title = "Property Investors" %}
                    {% assign sector_image = "images/Sectors/Properties investment sector.jpg" %}
                    {% include custom/sectorbox.html %}
                </ul>
            </div>
        </div>
<!-- End portfolio Carousel -->

<!-- ======================================== --> 
<!-- End Content ============================ -->
<!-- ======================================== -->       
</div>  
</div><!-- container -->
</div><!-- end band-->    
<!-- End CONTENT -->    
